<h1 style="color: blue;">Programs</h1>

<div class="grid col-2">
  <table>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let program of programs" style="text-align: center;">
      <td>{{program.code}}</td>
      <td>{{program.name}}</td>
      <td>{{program.description}}</td>
      <td><button>Edit</button></td>
    </tr>
  </table>
  <div class="form">
    <h3>Program Form</h3>
    <form [formGroup]="programForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Code" formControlName="code" class="full-width m-3">
      <input type="text" placeholder="Name" formControlName="name" class="full-width m-3">
      <input type="text" placeholder="Description" formControlName="description" class="full-width m-3">
      <button type="submit" class="m-3 btn">Save</button>
    </form>
  </div>
</div>
