.grid {
    display: grid;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.full-width {
    width: 100%;
}

.m-3 {
    margin: 3px;
}

.form {
    margin-right: 20px;
}

.btn {
    background-color: rgb(175, 251, 175);
    color: #000;
    width: 100px;
    height: 30px;
    border-radius: 20px;
}